:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

main{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* First section */

/* First part */

#MP-Section{
  display: flex;
  flex-direction: column;
  gap:30px;
}

#MyProjects-Bar{
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

#btn-Projects{
  background-color: transparent;
  border:none;
  cursor: pointer;
  font-size: 1.4rem;
}

#btn-Projects:hover{
  color: white;
  transition-duration: .3s;
}

#btn-Projects:active{
  transform: translateX(5px);
}

/* Second Part */

#MyProjects-Link{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 30px;
}

#MyProjects-Link div{
  display: none;
}

#MyProjects-Link div:nth-child(-n+2)
{
  display: flex;
}

#MyProjects-Link.show div{
  display: flex;
}

.Projects{
  display: flex;
  flex: 1 0 461px;
  min-height:186px ;
}

.Projects:hover{
  border: 1px solid white;
  transition-duration: .5s;
}

.Projects-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 22px;
}

.projects-Title{
  display: flex;
  gap: 18px;
}

.mini-Buttons{
  display: flex;
  gap: 22px;
}

.btn-star, .btn-git {
  display: flex;
  gap: 11px;
}

/* Second Section */

/* First part */

#RP-Section{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#RP-Bar{
  height: 86px;
  padding: 30px 32px;
}

/* Second Part */

#RP-Nav{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.RP-Link{
  width: 100%;
  height: 200px;
}

.RP-Link:hover{
  border: 1px solid white;
  transition-duration: .5s;
}

.RP-Link-content{
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0 30px;
  align-items: center;
  gap: 20px;
}

.RP-Link-Info{
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.RP-Link-Main-Info{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.RP-Link-Opcional-Info{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.RP-Link-img img{
  clip-path: circle(50% at 50% 50%);
  border-radius: 1in;
}